<div class="section">
  <div class="container">
    <div data-controller="elm-maps-show" data-elm-maps-show-flags="<%=
    {
      graphqlBaseUrl: ENV.fetch('GRAPHQL_BASE_URL', 'http://localhost:3000/graphql')
    }.to_json %>">
    </div>
  </div>
</div
