<div class="section">
  <div class="container">
    <div data-controller="elm-item-create" data-elm-item-create-flags="<%=
    {
      graphqlBaseUrl: ENV.fetch('GRAPHQL_BASE_URL', 'http://localhost:3000/graphql')
    }.to_json %>">
    </div>
  </div>
</div
