@charset "utf-8";
@use "sass:color";
@use "bulma/sass/utilities/mixins";

// override some Bulma defaults
$body-size: 14px;
$body-background-color: #9a9;
$footer-background-color: #9a9;

@import "bulma/bulma";
@import "map";
@import "elm-forms";
@import "ruby-views";

.navbar-menu {
  // seems to be white by default
  background-color: #000;
}

.site-logo {
  $breakpoint: 768px;

  &.desktop,
  &.mobile {
    max-height: 3rem
  }

  @include mixins.until($breakpoint) {
    &.desktop {
      display: none;
    }
  }

  @include mixins.from($breakpoint) {
    &.mobile {
      display: none;
    }
  }
}

.stamp {
  font-weight: 900;
  background-image: linear-gradient(to right top, #f00, #e4191a, #c92626, #ac2e2e, #8f3333, #8d3333, #8c3434, #8a3434, #a43131, #bd2b2c, #d62324, #ee1818);
  padding: 2px 6px;
  border-radius: 10px;
  color: #ddd;
}
