@charset "utf-8";
@use "sass:color";

// override some Bulma defaults
$body-size: 14px;
$body-background-color: #9a9;

@import "bulma/bulma";

/*
.elm-select {}
.elm-select-input-wrapper {}
.elm-select-input {}
*/

.elm-select-menu {
  position: absolute;
  padding: 6px;
  z-index: 1;
  background-color: white;
  width: 100%;
  max-height: 20rem;
  border: 1px solid #ddd;
  overflow-y: scroll;

}

.elm-select-menu-anchor {
  position: relative;
}

.elm-select-menu-item {
  margin: 0 4px;
  padding: 6px 8px;
  border-radius: 10px;

  &:hover {
    background: #ddd;
  }
}

.elm-select-menu-item-selectable {
  cursor: pointer;
}

.map-container {
  position: relative;

  .overlay-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    &.zoom {
      top: 1px;
      right: 1px;
      background: #aaa;
      opacity: 0.6;
      padding: 8px;
    }

    &.poi {
      top: 10px;
      left: 10px;
      background: #fff;
      opacity: 0.9;
      padding: 8px;
    }
  }
}

svg {
  border: 1px solid black;

  text {
    // avoid breaking dragging when going over a text element
    pointer-events: none;
    stroke: white;
    stroke-width: 0.6em;
    fill: black;
    paint-order: stroke;
    stroke-linejoin: round;
  }

  circle {
    @keyframes color-change {
      0% {
        fill: white;
      }

      10% {
        fill: white;
      }
    }

    @mixin hoverable-circle($fill) {
      fill: $fill;

      &:hover {
        fill: color.adjust($fill, $lightness: 25%);
      }
    }

    stroke: #000;

    &.highlighted {
      animation: color-change 0.6s infinite alternate;
    }

    &.faded {
      opacity: 0.3;
    }

    &.resource {
      // default bright red to spot things that aren't overridden
      @include hoverable-circle($fill: #F00);

      $mining-base: #755;
      $tree-base: #060;
      $fiber-base: #55e;
      $vegetable: #953;
      $herb: #2cc;
      $water-reed: #fcc;
      $lily: #f7f;
      $blackberry: #717;
      $gloomberry: #a3a;

      &__asherite {
        @include hoverable-circle($fill: color.adjust($mining-base, $lightness: 0%));
      }

      &__caspilrite {
        @include hoverable-circle($fill: color.adjust($mining-base, $lightness: 10%));
      }

      &__padrium {
        @include hoverable-circle($fill: color.adjust($mining-base, $lightness: 20%));
      }

      &__tascium {
        @include hoverable-circle($fill: color.adjust($mining-base, $lightness: 30%));
      }

      &__slytheril {
        @include hoverable-circle($fill: color.adjust($mining-base, $lightness: 40%));
      }

      &__apple {
        @include hoverable-circle($fill: color.adjust($tree-base, $lightness: 0%));
      }

      &__pine {
        @include hoverable-circle($fill: color.adjust($tree-base, $lightness: 10%));
      }

      &__maple {
        @include hoverable-circle($fill: color.adjust($tree-base, $lightness: 20%));
      }

      &__ash {
        @include hoverable-circle($fill: color.adjust($tree-base, $lightness: 30%));
      }

      &__oak {
        @include hoverable-circle($fill: color.adjust($tree-base, $lightness: 40%));
      }

      &__walnut {
        @include hoverable-circle($fill: color.adjust($tree-base, $lightness: 50%));
      }


      &__jute {
        @include hoverable-circle($fill: color.adjust($fiber-base, $lightness: 0%));
      }

      &__cotton {
        @include hoverable-circle($fill: color.adjust($fiber-base, $lightness: 10%));
      }

      &__flax {
        @include hoverable-circle($fill: color.adjust($fiber-base, $lightness: 20%));
      }

      &__vegetable {
        @include hoverable-circle($fill: $vegetable);
      }

      &__herb {
        @include hoverable-circle($fill: $herb);
      }

      &__lily {
        @include hoverable-circle($fill: $lily);
      }

      &__waterReed {
        @include hoverable-circle($fill: $water-reed);
      }

      &__blackberry {
        @include hoverable-circle($fill: $blackberry);
      }
    }

    &.npc {
      @include hoverable-circle($fill: #BB0);
    }
  }
}

.panel {
  background: #fff;
  user-select: none;

  &.poi-list {
    height: 100%;
    overflow-y: auto;
  }

  .sticky-top {
    position: sticky;
    top: 0;
    background: inherit;
  }
}
