@charset "utf-8";
@use "sass:color";
@use "bulma/sass/utilities/mixins";

// override some Bulma defaults
$body-size: 14px;
$body-background-color: #9a9;
$footer-background-color: #9a9;

@import "bulma/bulma";

.navbar-menu {
  // seems to be white by default
  background-color: #000;
}

.site-logo {
  $breakpoint: 768px;

  &.desktop,
  &.mobile {
    max-height: 3rem
  }

  @include mixins.until($breakpoint) {
    &.desktop {
      display: none;
    }
  }

  @include mixins.from($breakpoint) {
    &.mobile {
      display: none;
    }
  }
}

/*
.elm-select {}
.elm-select-input-wrapper {}
.elm-select-input {}
*/

.elm-select-menu {
  position: absolute;
  padding: 6px;
  z-index: 1;
  background-color: white;
  width: 100%;
  max-height: 20rem;
  border: 1px solid #ddd;
  overflow-y: scroll;

}

.elm-select-menu-anchor {
  position: relative;
}

.elm-select-menu-item {
  margin: 0 4px;
  padding: 6px 8px;
  border-radius: 10px;

  &:hover {
    background: #ddd;
  }
}

.elm-select-menu-item-selectable {
  cursor: pointer;
}

.map-container {
  position: relative;
}

.overlay-container {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;

  &.zoom {
    transform: translate(0%, -100%) rotate(-90deg);
    transform-origin: bottom right;
    top: 1px;
    right: 1px;
    background: #ccc;
    opacity: 0.9;
  }

  &.poi {
    pointer-events: none;
    background: #fff;
    opacity: 0.9;
    border: 1px solid #999;
  }
}

svg {
  border: 1px solid black;

  line.loc-line {
    stroke: #333;
    stroke-width: 1;
    stroke-opacity: 0.9;
    stroke-dasharray: 1, 3;
    pointer-events: none;
  }

  text.loc-line-label {
    // avoid breaking dragging when going over a text element
    pointer-events: none;
    fill: #222;
    opacity: 0.6;

    // old experimental white background
    // stroke: white;
    // stroke-width: 0.6em;
    // fill: black;
    // paint-order: stroke;
    // stroke-linejoin: round;
  }

  .poi-static-label {
    pointer-events: none;

    &-text {
      font-size: 10px;
      fill: #222;
      filter: url("#poi-static-label-filter");
    }

    feFlood {
      // todo : copy variables from poi?
      flood-opacity: 0.95;
      flood-color: #fff;
    }
  }

  circle {
    @keyframes color-change {
      0% {
        fill: white;
      }

      10% {
        fill: white;
      }
    }

    @mixin hoverable-circle($fill) {
      fill: $fill;

      &:hover {
        fill: color.adjust($fill, $lightness: 25%);
      }
    }

    stroke: #000;
    stroke-width: 0.3;

    &.radar {
      pointer-events: none;
    }

    &.pulsing {
      animation: color-change 0.6s infinite alternate;
    }

    &.faded {
      opacity: 0.3;
    }

    &.resource {
      // default bright red to spot things that aren't overridden
      @include hoverable-circle($fill: #F00);

      &__asherite {
        fill: #88bbd4;
      }

      &__caspilrite {
        fill: #933a3a;
      }

      &__padrium {
        fill: #27e1ff;
      }

      &__tascium {
        fill: #caa8ff;
      }

      &__slytheril {
        fill: #8376ff;
      }

      &__glittering-slytheril {
        fill: #f3f454;
      }

      &__karanite {
        fill: #40eeee;
      }

      &__vestium {
        fill: #cc98ff;
      }

      &__apple {
        fill: #d84132;
      }

      &__pine {
        fill: #873921;
      }

      &__maple {
        fill: #aea17c;
      }

      &__ash {
        fill: #ab8954;
      }

      &__oak {
        fill: #81532e;
      }

      &__walnut {
        fill: #8f6149;
      }

      &__jute {
        fill: #888e30;
      }

      &__cotton {
        fill: #f9dd97;
      }

      &__flax {
        fill: #f9dd97;
      }

      &__vegetable {
        fill: #acc837;
      }

      &__herb {
        fill: #ad5a75;
      }

      &__lily {
        fill: #d84132;
      }

      &__waterReed {
        fill: #d84132;
      }

      &__blackberry {
        fill: #332925;
      }

      &__gloomberry {
        fill: #0a0606;
      }
    }

    &.monster {
      @include hoverable-circle($fill: #B20);

      &__named {
        @include hoverable-circle($fill: color.adjust(#B20, $lightness: 10%));
      }

      &__elite {
        @include hoverable-circle($fill: color.adjust(#B20, $lightness: 30%));
      }
    }

    &.npc {
      @include hoverable-circle($fill: #BB0);
    }
  }
}

.map-layers-dropdown {
  .dropdown-item {
    display: flex;
    justify-content: space-between;

    &:hover {
      background: #eee;
    }
  }
}

.panel {
  background: #fff;
  user-select: none;

  &.poi-list {
    height: 100%;
    overflow-y: auto;
  }

  .sticky-top {
    position: sticky;
    top: 0;
    background: #f9f9f9;
  }
}

#clear-search-text {
  pointer-events: auto;
  cursor: pointer;
  color: var(--bulma-grey-dark); // $grey-dark;
}

.stamp {
  font-weight: 900;
  background-image: linear-gradient(to right top, #f00, #e4191a, #c92626, #ac2e2e, #8f3333, #8d3333, #8c3434, #8a3434, #a43131, #bd2b2c, #d62324, #ee1818);
  padding: 2px 6px;
  border-radius: 10px;
  color: #ddd;
}
