@charset "utf-8";

/*
.elm-select {}
.elm-select-input-wrapper {}
.elm-select-input {}
*/

.elm-select-menu {
  position: absolute;
  padding: 6px;
  z-index: 1;
  background-color: white;
  width: 100%;
  max-height: 20rem;
  border: 1px solid #ddd;
  overflow-y: scroll;
}

.elm-select-menu-anchor {
  position: relative;
}

.elm-select-menu-item {
  margin: 0 4px;
  padding: 6px 8px;
  border-radius: 10px;

  &:hover {
    background: #ddd;
  }
}

.elm-select-menu-item-selectable {
  cursor: pointer;
}
