= turbo_frame_tag 'locationSelectFrame', 'data-location-filter-target': 'select' do
  .select.is-fullwidth
    = select_tag 'monster[location_id]', options_for_select(locations.map{|l| [l.name, l.id]}, selected_id)
